.auction-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 30px;
  margin-bottom: 4rem;
  width: 70%;
}

.auction-container-imgDetail {
  grid-column: 1/2;
  background-color: #ffffff;
  text-align: center;
  border-radius: 30px 0 0 30px;
  padding: 3rem;
  & img {
    width: 60%;
    border-radius: 30px;
  }
}
.auction-container-imgDetail-text {
  padding-top: 1.5rem;
  place-self: center;
  width: 90%;
  & p,
  b {
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.8rem;
    padding: 0 2rem;
  }
}

.auction-container-bidDetail {
  grid-column: 2/3;
  background-color: #ffffff;
  border-radius: 0 30px 30px 0;
  padding: 3rem;
}
.auction-container-bidDetail-placeBid-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  & h1,
  b {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 2.5rem;
  }
}
.auction-container-bidDetail-placeBid-mid {
  font-size: 1.5rem;
  line-height: 1rem;
  & p {
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 2rem;
    font-size: 1.3rem;
  }
  & .bidPrice {
    padding: 0.6rem 0.6rem;
    margin-right: 0.6rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid #868686;
    outline: none;
  }
  & .auction-button {
    padding: 0.6rem 1rem;
    margin: 1.5rem 0 0 0;
    background-color: #55aaff;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  & .auction-button:hover {
    background-color: #337ff1;
  }
}

.auction-container-bidDetail-placeBid-bottom {
  height: 220px;
  width: fit-content;
  overflow: auto;
  margin-top: 2rem;
  & b {
    font-size: 1.5rem;
    margin: 0;
  }
  & .auction-ui-history {
    padding: 0.2rem 1.3rem;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr;
  }
  & li {
    display: flex;
    justify-content: space-between;
  }
  & p {
    margin: 0;
    line-height: 1.5rem;
  }
}

/* mobile size */
@media (min-width: 375px) and (max-width: 900px) {
  .auction-container {
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .auction-container-imgDetail {
    grid-column: 1/2;
    border-radius: 30px 30px 0 0;
    padding: 2rem 0 2rem 0;

    & img {
      width: 50%;
    }

    & p {
      font-size: 1.1rem;
    }
  }
  .auction-container-imgDetail-text {
    width: 80%;
    height: 5.6rem;
    overflow: auto;
    padding: 0;
    margin-top: 2rem;

    & p,
    b {
      padding: 0 1rem;
    }
  }

  .auction-container-bidDetail {
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 0 0 30px 30px;
    padding: 3rem;
  }
  .auction-container-bidDetail-placeBid-top {
    margin-bottom: 1rem;
    & b {
      font-size: 1.5rem;
    }
  }
  .auction-container-bidDetail-placeBid-mid {
    & p {
      font-size: 1.1rem;
    }
  }
.auction-container-bidDetail-placeBid-bottom{
  & .auction-ui-history{
    width: 100%;
    & li{
      flex-wrap: wrap;
    }
  }
  & b {
    font-size: 1.5rem;
  }
  & p{
    font-size: 1.1rem;
    padding-right: 2rem;
  }
}
}

@media (min-width: 901px) and (max-width: 1440px) {
  .auction-container {
    width: 80%;
  }
  .auction-container-bidDetail {
    padding: 2rem;
  }
  .auction-container-imgDetail {
    padding: 2rem;
    & img {
      width: 80%;
    }
  }
  .auction-container-imgDetail-text {
    overflow: auto;
    margin-top: 2rem;
    padding: 0;

    width: 100%;
    height: 200px;
    & p,
    b {
      font-size: 1.3rem;
      margin: 0;
      line-height: 1.8rem;
      padding: 0 1rem;
    }
  }
}

/* 375,768,1440 */
