.auction-container {
  display: flex;
  width: 100%;
  padding: 50px;
  margin-bottom: 200px;
}
.auction-container > .auction-left {
  width: 50%;
  background-color: #ffffff;
  padding: 50px;
  text-align: center;
  margin: 0 1rem;
  border-radius: 20px;
  & img {
    width: 70%;
    border-radius: 20px;
  }
  & .auction-left-text {
    padding-top: 20px;
  }
  & p {
    font-size: 20px;
    margin: 0;
    line-height: 1.8rem;
    padding: 0 4rem;
  }
}
.auction-container > .auction-right {
  width: 50%;
  background-color: #ffffff;
  padding: 50px;
  margin: 0 1rem;
  border-radius: 20px;

  & .auction-right-time {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    & h1 {
      margin: 0 0 15px 0;
    }


  }

  & .group-top {
    margin: 20px 0;
  
    & p {
      text-align: start;
      font-size: 25px;
      font-weight: bold;
      padding: 5px 0;
      margin: 0;
    }
  }
  & .group-mid {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: start;
      
      & p {
          text-align: start;
          font-size: 25px;
          font-weight: bold;
          padding-bottom: 15px;
          margin: 0;
        }
        & .price_auction {
            padding: 10px 15px;
            border: 2px solid #929292;
            border-radius: 5px;
            outline: none;
        }
        & .auction-button{
            width: 70%;
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
    & .group-bottom {
      margin: 20px 0;
    
      & p {
        text-align: start;
        font-size: 25px;
        font-weight: bold;
        padding: 5px 0;
        margin: 0;
      }
    }
}

.auction-button {
  padding: 10px 20px;
  background-color: #53b2ff;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background-color 0.3s;
  outline: none;
  border: none;
}

.auction-button:hover {
  background-color: #0056b3;
}

.auction-right {
  padding: 20px 150px;
}
.auction-right-log {
  & h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.auction-right-log-list {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.auction-right-log-list-left {
  display: flex;
  align-items: center;
  & .icon {
    color: #ffc2f7;
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  & p {
    padding-left: 20px;
  }
}
.auction-right-log-list-right {
  color: #848484;
}

.auction-right-time > p {
  font-size: 30px;
  font-weight: bold;
}

.bidPrice {
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #929292;
}

.history-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #848484;
  padding: 0px 10px;
}