:root{
 --light-purple: #b4beff;
 --light-pink:#ffb4d5;
 --lignt-with: #ffd4c4:
}

.body-dash {
  height: 150vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mooli", sans-serif;
}

.body-dash .container-dash {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 320px;
  position: relative;
  & h2 {
    margin-top: -65%;
    font-size: 40px;
    left: 0;
    position: absolute;
  }
  & .pieChart-dash {
    width: 600px;
    height: 300px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: gray solid 2px;
    color: #ffff;
    position: relative;
    & .pie {
      width: 100%;
      height: 100%;
    }
    & .slicer {
      width: 100%;
      height: 100%;
      display: flex;
      color: gray;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
     
      & label {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & .dash-box1 {
        position: relative;
        margin: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        background-color: #b4beff;
      }
      & .dash-box2 {
        position: relative;
        margin: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        background-color: #ffb4d5;
      }
      & .dash-box3 {
        position: relative;
        cursor: pointer;
        margin: 10px;
        width: 25px;
        height: 25px;
        background-color: #ffd4c4;
        &input {
          border: none;
          background: #b4beff;
        }
      }
    }
  }
  label span {
    position: absolute;
    left: 10px;
    top: 14px;
    font-size: 20px;
    pointer-events: none;
    color: #FFFF;
    transition: 0.3s;
}
  /* End-Pie chart */

  /* Barchart */
  & .barChacrt-dash {
    width: 600px;
    height: 300px;
    border-radius: 30px;
    padding: 20px;
    outline: gray solid 2px;
  }

  /* End-barchart */
}
