
.ended-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: #f8f9fa; 
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 30px;
}

.ended-container-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 30px;
    width: 100%;
}

.ended-card {
    border-radius: 2rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s, transform 0.3s;
}

.ended-card-absolute {
    position: absolute;
    padding: 15px 15px;
}
.ended-card-status-ended {
    position: relative;
    background-color: #00D9FF;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
}
.ended-card:hover {
    box-shadow: 10px 10px 15px 7px rgba(0, 0, 0, 0.12);
    transform: translateY(-5px);
}
/* ✅ Fixed Image Size 150x150 and object-fit: cover */
.ended-card-img {
    width: 250px;
    height: 230px;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.ended-card-des {
    text-align: left;
    font-size: 1rem;
    color: #929292;
    flex-grow: 1; /* ส่วนรายละเอียดขยายเต็มพื้นที่ */
}

.ended-card-des p {
    margin: 5px 0;
}

/* mobile size */
@media (min-width: 375px) and (max-width: 768px) {
  .ended-container-card{
    grid-template-columns: 1fr;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .ended-container-card{
    grid-template-columns: 1fr 1fr;
  }
}
