.forget-password-container {
  background-color: #ffffff;
  width: auto;
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 0.5rem;
  margin-top: 50px;
  margin-bottom: 5rem;
}
.forget-password-div-text {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;

  & h1 {
    font-size: 3rem;
    color: #000000;
    margin-top: 0;
  }
}
label {
  width: 300px;
  height: 50px;
  position: relative;
}
.currentEmail {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  z-index: 1;
  border: solid 3px lightgray;
  border-radius: 10px;
  font-size: 20px;
 
}

.currentEmail:focus {
  outline: none;
  transition: 0.3s;
}
label span {
  position: absolute;
  left: 10px;
  top: 14px;
  font-size: 20px;
  pointer-events: none;
  color: lightgray;
  transition: 0.3s;
  
}

label .currentEmail:focus ~ span,
label .currentEmail:valid ~ span {
  transform: translateY(-40px);
  background-color: transparent;
  transition: 0.3s;
  color: rgb(54, 54, 54);
}
.btn-send {
  background: none;
  color: #53b2ff;
  font-weight: bold;
  border: solid 2px #53b2ff;
  transition: 0.3s;
}

.btn-send:hover {
  background: #53b2ff;
  color: #ffff;
  box-shadow: 0px 0px 40px #53b2ff;
  font-weight: bold;
  transition: 0.3s;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
}

@media (min-width: 350px) and (max-width: 500px) {
.forget-password-container {
  max-width: 350px;
  transition: 0.2s;


}
}
