.login-container {
  width: 100%;
  max-width: 450px;
  margin-top: 50px;
  margin-bottom: 200px;
  border-radius: 8px;
  backdrop-filter: calc(10px);
  text-align: center;
  justify-content: center;
  box-shadow: 5px 5px 5px #53b2ff;
  background-color: #ffff;
  padding: 1rem;
}
h1 {
  font-size: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

form > .div-username {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px 20px;
  width: 100%;
}
form > .div-username > .icon-username {
  color: #d4d4d4;
  font-size: 40px;
  padding-right: 10px;
}
form > .div-username > .input-username {
  width: 80%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: transparent;
}
form > .div-username > .input-username:focus {
  border-color: #d4d4d4;
  outline: none;
  caret-color: auto;
  transition: 0.3s;
  color: #000;
}

form > .div-password-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px 20px;
  width: 100%;
}
form > .div-password-sign > .icon-password {
  color: #d4d4d4;
  font-size: 40px;
  padding-right: 10px;
}
form > .div-password-sign > .input-password {
  width: 80%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: transparent;
}
form > .div-password-sign > .input-password:focus {
  border-color: #d4d4d4;
  outline: none;
  color: #000;
  caret-color: auto;
}

form > .div-forget-account {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
form > .div-forget-account > .forget,
.account {
  text-decoration: none;
  color: #848484;
  padding: 0px 0px 10px 0px;
}

form > .button-submit {
  font-size: 1.5rem;
  color: #0e0e0e;
  padding: 10px 25px;
  background: none;
  height: 60px;
  border: 3px solid #53b2ff;
  letter-spacing: 0.8px;
  font-weight: bolder;
  color: #53b2ff;
  cursor: pointer;
}
form > .button-submit:hover {
  font-size: 1.5rem;
  padding: 10px 25px;
  background: #53b2ff;
  border: none;
  letter-spacing: 0.8px;
  font-weight: bolder;
  color: #fafdff;
  cursor: pointer;
  box-shadow: 5px 5px 50px #53b2ff;
}

.div-password-sign .showeyeslog {
  font-size: 25px;
  position: absolute;
  right: 70px; /* เว้นระยะห่างจากขอบขวา 15px */
  top: 50%; /* เลื่อนลงมา 50% ของความสูง */
  transform: translateY(
    -50%
  ); /* ดึงกลับขึ้นไปครึ่งหนึ่งของความสูง span เพื่อจัดกึ่งกลางแนวตั้ง */
  color: #9a9898;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.div-password-sign .showeyeslog:hover {
  color: #000;
  transition: 0.3s;
}

.div-username {
  position: relative;
}
.div-username .text-place {
  position: absolute;
  left: 110px;
  font-size: 20px;
  pointer-events: none;
  color: #d4d4d4;
  transition: 0.3s;
}
.input-username:focus ~ span,
.input-username:valid ~ span {
  transform: translateY(-40px);
  font-size: 15px;
  left: 97px;
  transition: 0.3s;
  color: #000;
}
.div-password-sign {
  margin-top: 20px;
  position: relative;
  color: #000;
}
.div-password-sign .pass-place {
  position: absolute;
  left: 110px;
  font-size: 20px;
  color: #d4d4d4;
  pointer-events: none;
  transition: 0.3s;
}
.input-password {
  color: #000;
}
.input-password:focus ~ .pass-place,
.input-password:valid ~ .pass-place {
  transform: translateY(-40px);
  left: 97px;
  color: #000;
  font-size: 15px;
  transition: 0.3s;
}


@media (min-width: 350px) and (max-width: 500px) {
.login-container {
  max-width: 350px;
  transition: 0.2s;


}
.div-username > .text-place {
  position: absolute;
  left: 90px;
  font-size: 20px;
  pointer-events: none;
  color: #d4d4d4;
  transition: 0.3s;
}

 .div-password-sign > .pass-place {
  position: absolute;
  left: 90px;
  font-size: 20px;
  pointer-events: none;
  color: #d4d4d4;
  transition: 0.3s;
}


.div-password-sign .showeyeslog {
  font-size: 25px;
  position: absolute;
  right: 50px; /* เว้นระยะห่างจากขอบขวา 15px */
  top: 50%; /* เลื่อนลงมา 50% ของความสูง */
  transform: translateY(
    -50%
  ); /* ดึงกลับขึ้นไปครึ่งหนึ่งของความสูง span เพื่อจัดกึ่งกลางแนวตั้ง */
  color: #9a9898;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.div-password-sign .showeyeslog:hover {
  color: #000;
  transition: 0.3s;
}

}
