.container-regis h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  color: #000000;
  background-color: #fff;
}
.div-username-signup {
  display: flex;
align-items: center;
justify-content: center;
padding: 5px;
width: 83.5%;
position: relative;
}

.div-username-signup .input-username{
    width: 91%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
}


form {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.container-regis {
  padding: 2rem;
  max-width: 600px;
  height: 100%;
  background-color: #ffff;
  margin: 0 auto;
  border-radius: 30px;
  margin-bottom: 50px;
  backdrop-filter: blur(6px);
  box-shadow: 5px 5px 5px #53b2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form > .button-submit {
  font-size: 1.5rem;
  color: #0e0e0e;
  padding: 10px 25px;
  background: none;
  height: 60px;
  border: 3px solid #53b2ff;
  letter-spacing: 0.8px;
  font-weight: bolder;
  color: #53b2ff;
  cursor: pointer;
}
form > .button-submit:hover {
  font-size: 1.5rem;
  padding: 10px 25px;
  background: #53b2ff;
  border: none;
  letter-spacing: 0.8px;
  font-weight: bolder;
  color: #fafdff;
  cursor: pointer;
  box-shadow: 5px 5px 50px #53b2ff;
}

.div-password {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 83.5%;
  position: relative;
}

.div-password .input-password-up{
  width: 91%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
}
.div-password .eyeregis {
  font-size: 25px;
  position: absolute;
  right: 30px; /* เว้นระยะห่างจากขอบขวา 15px */
  top: 50%; /* เลื่อนลงมา 50% ของความสูง */
  transform: translateY(
    -50%
  ); /* ดึงกลับขึ้นไปครึ่งหนึ่งของความสูง span เพื่อจัดกึ่งกลางแนวตั้ง */

  color: #9a9898;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.div-password .eyeregis:hover {
  color: #2a2a2a;
  transition: 0.2s;
}

/* First Name */
.div-firstname {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 83.5%;
  position: relative;
}

.div-firstname input {
  width: 91%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.div-firstname .icon-firstname {
  /* ดึงกลับขึ้นไปครึ่งหนึ่งของความสูง span เพื่อจัดกึ่งกลางแนวตั้ง */
    color: #d4d4d4;
    font-size: 40px;
    padding-right: 10px;
}
.div-address .icon-address {
    color: #d4d4d4;
    font-size: 40px;
    padding-right: 10px;
}

/* Last Name */

.div-lastname {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 83.5%;
  position: relative;
}

.div-lastname input {
  width: 91%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.div-lastname .icon-lastname {
    color: #d4d4d4;
    font-size: 40px;
    padding-right: 10px;
}
/* Email */
.div-email {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 83.5%;
  position: relative;
}

.div-email input {
  width: 91%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.div-email .icon-email {
    color: #d4d4d4;
    font-size: 40px;
    padding-right: 10px;
}
/* Phone */
.div-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 83.5%;
  position: relative;
}

.div-phone input {
  width: 91%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.div-phone .icon-phone {
     color: #d4d4d4;
    font-size: 40px;
    padding-right: 10px;
}
/* Address */
.div-address {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 83.5%;
  position: relative;
}

.div-address input {
  margin-top: 5px;
  width: 91%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.div-password .icon-password {
     color: #d4d4d4;
    font-size: 40px;
    padding-right: 10px;
}

.div-username-signup .icon-username {
     color: #d4d4d4;
    font-size: 40px;
    padding-right: 10px;
}

/* Span */

.user-place {
    color: gray;
    position: absolute;
    left: 70px;
    font-size: 20px;
    pointer-events: none;
    transition: 0.3s;
}
.passSign-place {
  color: gray;
  position: absolute;
  left: 70px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.confpass-place {
  color: gray;
  position: absolute;
  left: 70px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.firstname-place {
  color: gray;
  position: absolute;
  left: 70px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.Lastname-place {
  color: gray;
  position: absolute;
  left: 70px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.email-place {
  color: gray;
  position: absolute;
  left: 70px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.phone-place {
  color: gray;
  position: absolute;
  left: 70px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.address-place {
  color: gray;
  position: absolute;
  left: 70px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}

.input-username:focus ~ .user-place,
.input-username:valid ~ .user-place {
  transform: translateY(-39px);
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-password-up:focus ~ .passSign-place,
.input-password-up:valid ~ .passSign-place {
  transform: translateY(-39px);
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-password-up:focus ~ .confpass-place,
.input-password-up:valid ~ .confpass-place {
  transform: translateY(-39px);
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-firstname:focus ~ .firstname-place,
.input-firstname:valid ~ .firstname-place {
  transform: translateY(-37px);
  transition: 0.3s;
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-lastname:focus ~ .Lastname-place,
.input-lastname:valid ~ .Lastname-place {
  transform: translateY(-37px);
  transition: 0.3s;
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-email:focus ~ .email-place,
.input-email:valid ~ .email-place {
  transform: translateY(-37px);
  transition: 0.3s;
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-phone:focus ~ .phone-place,
.input-phone:valid ~ .phone-place {
  transform: translateY(-37px);
  transition: 0.3s;
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-address:focus ~ .address-place,
.input-address:valid ~ .address-place {
  transform: translateY(-37px);
  transition: 0.3s;
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}


@media (min-width: 350px) and (max-width: 500px) {

.container-regis {
  max-width: 350px;
  transition: 0.2s;
  padding: 1rem;

}


}
