.container-regis h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  text-align: center;
  margin-left: 30px;
  color: #000000;
  background-color: #fff;

  height: 100%;
}
.div-username-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px 20px;
  width: 89%;
  position: relative;
}
.container-regis {
  padding: 20px;
  width: 730px;
  height: 100%;
  background-color: #ffff;
  margin: 0 auto;
  border-radius: 30px;
  margin-bottom: 50px;
  backdrop-filter: blur(6px);
  box-shadow: 5px 5px 5px #53b2ff;
}

.button-submit {
  margin-top: 25px;
}

.div-password {
  position: relative;
  width: 70%;
}
.div-password input {
  width: 100%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}
.div-password .eyeregis {
  font-size: 25px;
  position: absolute;
  right: 80px; /* เว้นระยะห่างจากขอบขวา 15px */
  top: 50%; /* เลื่อนลงมา 50% ของความสูง */
  transform: translateY(
    -50%
  ); /* ดึงกลับขึ้นไปครึ่งหนึ่งของความสูง span เพื่อจัดกึ่งกลางแนวตั้ง */

  color: #9a9898;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.div-password .eyeregis:hover {
  color: #2a2a2a;
  transition: 0.2s;
}

/* First Name */
.div-firstname {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 83.5%;
  position: relative;
}

.div-firstname input {
  width: 91%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.div-firstname .icon-firstname {
  font-size: 35px;
  margin-right: px;
  /* ดึงกลับขึ้นไปครึ่งหนึ่งของความสูง span เพื่อจัดกึ่งกลางแนวตั้ง */

  color: #9a9898;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.div-address .icon-address {
  font-size: 30px;
  margin-right: 5px;
  /* ดึงกลับขึ้นไปครึ่งหนึ่งของความสูง span เพื่อจัดกึ่งกลางแนวตั้ง */
  color: #9a9898;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

/* Last Name */

.div-lastname {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 83.5%;
  position: relative;
}

.div-lastname input {
  width: 91%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.div-lastname .icon-lastname {
  font-size: 25px;
  margin-right: 15px;
  /* ดึงกลับขึ้นไปครึ่งหนึ่งของความสูง span เพื่อจัดกึ่งกลางแนวตั้ง */
  color: #9a9898;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
/* Email */
.div-email {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 83.5%;
  position: relative;
}

.div-email input {
  width: 91%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.div-email .icon-email {
  font-size: 25px;
  margin-right: 15px;
  /* ดึงกลับขึ้นไปครึ่งหนึ่งของความสูง span เพื่อจัดกึ่งกลางแนวตั้ง */
  color: #9a9898;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
/* Phone */
.div-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 83.5%;
  position: relative;
}

.div-phone input {
  width: 91%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.div-phone .icon-phone {
  font-size: 25px;
  margin-right: 15px;
  /* ดึงกลับขึ้นไปครึ่งหนึ่งของความสูง span เพื่อจัดกึ่งกลางแนวตั้ง */
  color: #9a9898;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
/* Address */
.div-address {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 83.5%;
  position: relative;
}

.div-address input {
  margin-top: 5px;
  width: 91%;
  border-radius: 10px;
  border: 3px solid #d4d4d4;
  padding: 15px 20px;
  color: #848484;
  font-size: 20px;
  caret-color: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.div-address .icon-address {
  font-size: 25px;
  margin-right: 15px;
  /* ดึงกลับขึ้นไปครึ่งหนึ่งของความสูง span เพื่อจัดกึ่งกลางแนวตั้ง */
  color: #9a9898;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
/* Span */

.user-place {
  color: gray;
  position: absolute;
  left: 90px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.passSign-place {
  color: gray;
  position: absolute;
  left: 122px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.confpass-place {
  color: gray;
  position: absolute;
  left: 122px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.firstname-place {
  color: gray;
  position: absolute;
  left: 70px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.Lastname-place {
  color: gray;
  position: absolute;
  left: 70px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.email-place {
  color: gray;
  position: absolute;
  left: 70px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.phone-place {
  color: gray;
  position: absolute;
  left: 70px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}
.address-place {
  color: gray;
  position: absolute;
  left: 70px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
}

.input-username:focus ~ .user-place,
.input-username:valid ~ .user-place {
  transform: translateY(-39px);
  left: 80px;
  transition: 0.3s;
}
.input-password:focus ~ .passSign-place,
.input-password:valid ~ .passSign-place {
  transform: translateY(-39px);
  left: 110px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-password:focus ~ .confpass-place,
.input-password:valid ~ .confpass-place {
  transform: translateY(-39px);
  left: 80px;
  transition: 0.3s;
  left: 110px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-firstname:focus ~ .firstname-place,
.input-firstname:valid ~ .firstname-place {
  transform: translateY(-37px);
  transition: 0.3s;
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-lastname:focus ~ .Lastname-place,
.input-lastname:valid ~ .Lastname-place {
  transform: translateY(-37px);
  transition: 0.3s;
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-email:focus ~ .email-place,
.input-email:valid ~ .email-place {
  transform: translateY(-37px);
  transition: 0.3s;
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-phone:focus ~ .phone-place,
.input-phone:valid ~ .phone-place {
  transform: translateY(-37px);
  transition: 0.3s;
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
.input-address:focus ~ .address-place,
.input-address:valid ~ .address-place {
  transform: translateY(-37px);
  transition: 0.3s;
  left: 60px;
  transition: 0.3s;
  font-size: 15px;
  color: #2a2a2a;
}
