.update-password-div-text {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    && h1{
    font-size: 3rem;
    }
}


.currentPassword, .NewPassword {    
    width: 90%;
    border-radius: 10px;
    border: 3px solid #d4d4d4;
    padding: 15px 20px;
    color: #848484;
    font-size: 20px;
}

button {
    font-size: 1rem;
    color: #ffffff;
    padding: 10px 25px;
    background-color: #53B2FF;
    letter-spacing: 0.8px;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 1.5rem 0;
}

.update-password-container {
    margin-bottom: 4.5rem;
}