nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: none;
  padding: 2rem;
  backdrop-filter: blur(2px);
  color: #fff;
}

.nav.fixed {
  transition: 0.3s all;
  color: #fff;
  backdrop-filter: blur(25px);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 100%;
}

.navbar-left {
  width: 30%;
  display: flex;
  justify-content: start;
}
.navbar-left > .navbar-brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.navbar-left > .navbar-brand > .icon-logo {
  font-size: 3.5rem;
  padding-right: 10px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  width: "100%";
}
.navbar-center > .search-input-wrapper {
  position: relative;
  width: 400px;
}
.navbar-center > .search-input-wrapper > .navbar-search {
  height: 3rem;
  border-radius: 30px;
  padding: 8px 0px 8px 15px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  caret-color: transparent;
}
.navbar-center > .search-input-wrapper > .navbar-search:focus {
  caret-color: auto;
  outline: none;
}
.navbar-center > .search-input-wrapper > .search-icon-overlay {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #666;
  cursor: pointer;
}

.layout-container {
  width: 100%;
  background-image: url(./assets/Auction.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
}

.navbar-right {
  width: 30%;
  display: flex;
  justify-content: end;
  text-decoration: none;
}
.navbar-right > .auth-group > .sign-in-text {
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-right > .auth-group > .sign-up-btn {
  text-decoration: none;
  font-size: 2rem;
  color: #000000 !important;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.auth-group-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  & .icon-coin {
    font-size: 2rem;
  }
}

.icon-profile {
  padding: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 3rem;
  color: #ffffff;
  cursor: pointer;
  background-color: #b3b3b3;
}

.footer-container {
  background-color: aqua;
  width: 100%;
  background: none;
  display: grid;
  place-items: center;
  place-content: center;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-container-about,
.footer-container-contact,
.footer-container-social {
  max-width: 300px;
  min-width: 300px;
  font-size: 20px;
  color: #000;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.layout-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  top: 130px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #bdbdbd;
  margin: 1rem 0.5rem;
  position: absolute;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  right: 20px;
}

.dropdown > .Link {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #bdbdbd;
  padding-bottom: 9px;
}

.Link-icon {
  padding-right: 10px;
  font-size: 25px;
}

.mdi-bell {
  cursor: pointer;
}

.red-dot{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #ff0000;
  position: absolute;
  top: 8px;
  left: 30px;
}

.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & span{
    padding: 10px;
  }
}

.notification-container{
  position: absolute;
  top: 80px;
  right: 210px;
  background-color: #ffffff;
  width: 300px;
  height: 350px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #bdbdbd;
  overflow: auto;
  
  & .notification-container-relative {
    position: relative;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: #000;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.red {
  background-color: #f34f4f;
}

.green {
  background-color: #5eee65;
}

.blue {
  background-color: #4ca3eb;
}


@media (min-width: 378px) and (max-width: 1000px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
