@media screen and (max-width: 768px) {
  .logo-menu-list {
    .icons-menu-list {
      display: block !important;
      width: 30px;
      font-size: 2rem;
      cursor: pointer;
      color: #fff;
    }
  }
  .icon-profile {
    display: none;
  }
  .navbar-right .nav-button {
    display: none;
  }
  .navbar-center {
    display: none;
  }
  .navbar-center input {
    display: none;
  }
  .search-input-wrapper input {
    display: none;
  }
}
.topnav {
  display: block;
  background-color: aqua;
}
nav {
  display: grid;
  grid-template-columns: auto;
  gap: 30px;

  padding: 10px 20px;
  background: none;
  padding: 2rem;
  backdrop-filter: blur(2px);
  color: #fff;
  width: 100%;
  & ul {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    & .navbar-left {
      width: 100%;
      & .navbar-brand {
        font-size: 2rem;
        list-style: none;
        color: #fff;
        text-decoration: none;
      }
      & .icon-logo {
        font-size: 2rem;
      }
    }
    & .navbar-center {
      width: 100%;
      position: relative;

      & .search-input-wrapper input {
        border: none;
        outline: none;
        height: 30px;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        display: block;
      }
      & .search-input-wrapper .search-icon-overlay {
        position: absolute;
        color: #858282;
        right: 6px;
        top: 5px;
        font-size: 22px;
      }
    }
    & .navbar-right {
      width: 100%;
      display: block;
    }
    & .logo-menu-list {
      width: 10%;
      & .icons-menu-list {
        display: none;
      }
    }
  }
}

.nav.fixed {
  transition: 0.3s all;
  color: #fff;
  backdrop-filter: blur(25px);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 100%;
}
/* 
.navbar-left {
  width: 30%;
  display: flex;
  justify-content: start;
}

.navbar-left > .navbar-brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.navbar-left > .navbar-brand > .icon-logo {
  font-size: 3.5rem;
  padding-right: 10px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  width: 100%;
}
.navbar-center > .search-input-wrapper {
  position: relative;
  width: 400px;
}
.navbar-center > .search-input-wrapper > .navbar-search {
  height: 3rem;
  border-radius: 30px;
  padding: 8px 0px 8px 15px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  caret-color: transparent;
}
.navbar-center > .search-input-wrapper > .navbar-search:focus {
  caret-color: auto;
  outline: none;
}
.navbar-center > .search-input-wrapper > .search-icon-overlay {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #666;
} */
.navbar-right {
}
.layout-container {
  width: 100%;
  background-image: url(./assets/Auction.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
}
.link-login {
  display: flex;
  align-items: center;
  justify-content: center;

  & .sign-in-text {
    margin: 0 20px;
    font-size: 20px;
    text-decoration: none;
    & .sign-page {
      color: #fff;
    }
  }
  & .sign-up-btn {
    margin: 0 20px;
    text-decoration: none;
    font-size: 20px;
    & .sign-page {
      color: #fff;
      transition: 0.3s;
    }
  }
  & .sign-up-btn:focus,
  .sign-up-btn:hover,
  .sign-in-text:focus,
  .sign-in-text:hover {
    color: #fff;
    transform: scale(1.2);
  }
}
/* .navbar-right {
  width: 30%;
  display: flex;
  justify-content: end;
  text-decoration: none;
}
.navbar-right > .auth-group > .sign-in-text {
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-right > .auth-group > .sign-up-btn {
  text-decoration: none;
  font-size: 2rem;
  color: #000000 !important;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 2px;
} */

.navbar-profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.icon-profile {
  padding: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 3rem;
  color: #ffffff;
  cursor: pointer;
  background-color: #b3b3b3;
}

.footer-container {
  background: none;
  display: flex;
  justify-content: center;
  text-align: left;
  width: 100%;
  overflow: hidden;
  background-color: aqua;
}

.layout-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dropdown {
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #bdbdbd;
  margin: 1rem 0.5rem;
  position: absolute;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  right: 20px;
}

.dropdown > .Link {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #bdbdbd;
  padding-bottom: 9px;
}

.Link-icon {
  padding-right: 10px;
  font-size: 25px;
}
