nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #53B2FF;
  padding: 2rem;
  width: auto;
}



.navbar-left {
  width: 30%;
  display: flex;
  justify-content: start;
}
.navbar-left > .navbar-brand{
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.navbar-left > .navbar-brand > .icon-logo {
  font-size: 3.5rem;
  padding-right: 10px;
}



.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: '100%'
}
.navbar-center > .search-input-wrapper  {
  position: relative;
  width: 400px;
}
.navbar-center > .search-input-wrapper > .navbar-search {
  height: 2rem;
  border-radius: 30px;
  padding: 8px 0px 8px 15px;
  border: none;
  outline: none;
  width: 96%;
  font-size: 20px;
  caret-color: transparent;
}
.navbar-center > .search-input-wrapper > .navbar-search:focus {
  caret-color: auto;
  outline: none;
}
.navbar-center > .search-input-wrapper > .search-icon-overlay {
  position: absolute; 
  right: 10px;    
  top: 50%;   
  transform: translateY(-50%); 
  font-size: 40px;
  color: #666;
}



.navbar-right {
  width: 30%;
  display: flex;
  justify-content: end;
  text-decoration: none;
}
.navbar-right > .auth-group > .sign-in-text{
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-right > .auth-group > .sign-up-btn{
  text-decoration: none;
  font-size: 2rem;
  color: #000000 !important; 
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}



.footer-container {
  background-color: #53B2FF;
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 3rem;
}

.footer-container-about, .footer-container-contact, .footer-container-social {
  max-width: 300px;
  min-width: 300px;
  font-size: 20px;
  color: #ffffff;
  padding: 20px;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}


.layout-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}